<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>

<form method="post" action="/signup">
    <input type="text" placeholder="username" name="username"><br>
    <input type="text" placeholder="name" name="name"><br>
    <input type="email" placeholder="email" name="email"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="submit" value="Sign Up">
</form>

</body>
</html>